<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrboomdev.platformer">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    
    <application android:label="@string/app_name"
        android:allowBackup="true"
        android:installLocation="preferExternal"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/app_icon"
        android:isGame="true"
        android:appCategory="game"
        android:theme="@style/GdxTheme">
            
        <activity android:name=".AndroidLauncher"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".DebugStartGameActivity"
            android:label="Platformer Debug"
            android:theme="@style/Material"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".ReactActivity"
            android:screenOrientation="landscape"
            android:exported="true" />
        
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"
            android:label="Developer Settings"
            android:exported="false"/>
            
        <activity android:name=".ExternalHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.actionchr" />
                <data android:pathPattern=".*\\.actionmap" />
                <data android:pathPattern=".*\\.actionoutfit" />
            </intent-filter>
        </activity>
        
        <service android:name=".NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_notification" />
            
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/boom_primary" />
    </application>
</manifest>