<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:label="Debug Action"
		android:restoreAnyVersion="true"
		tools:replace="label">
		
		<activity android:name=".game.GameDebugLauncher"
			android:label="Debug Game"
			android:screenOrientation="landscape"
			android:theme="@style/Material"
			android:exported="true">
		
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		
		<service android:name="com.mrboomdev.platformer"
            android:exported="false"/>
		
    </application>
</manifest>